<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        li{
            list-style: none;
        }
        #container{
            width: 600px;
            border: 1px solid black;
            margin: 0 auto;
        }
        .left{
            margin: 0 auto;

        }
        .button{
            padding: 0;
            color: #000;
        }
        .button li{
            background: red;
            width: 200px;
            height: 32px;
            line-height: 32px;
            text-align: center;

            cursor: pointer;
        }

        .right{
            height: 65px;
        }

        /*.border_1{*/
        /*height: 32px;*/
        /*border: 1px solid black;*/
        /*}*/
        /*.border_2{*/
        /*border-top: 0;*/
        /*}*/
        .bottom{
            margin-top: 10px;
            padding-bottom:10px;
            border-top: 1px solid #000000;
            border-bottom: 1px solid black;
            overflow: hidden;
        }
        .page{
            margin-top: 4px;
            width: 200px;
            height: 200px;
            /*background: #000;*/
            float: left;
        }
        .page h3{
            text-align: center;
            margin: 0;
        }
        .diagram{
            margin-top: 4px;
            width: 160px;
            /*background: red;*/
            float: left;
            border: 1px solid #000000;
        }
        .diagram h3{
            text-align: center;
            border-bottom: 1px solid #000000;
            margin: 0;
        }
        .diagram p{
            width: 20px;
            float: left;
            margin: 0;
            text-align: center;
        }
        .exchange{
            margin-top: 4px;
            margin-left: 20px;
            width: 160px;
            /*background: green;*/
            float: left;
            border: 1px solid #000000;
        }
        .exchange h3{
            text-align: center;
            border-bottom: 1px solid #000000;
            margin: 0;
        }
        .exchange p{
            width: 20px;
            float: left;
            margin: 0;
            text-align: center;
        }
        .page div{
            float: left;
            text-align: left;
            margin-left: 5px;
        }
        .page div p{
            margin: 0;
            text-align: center;
        }
        /*实验三*/
        .equip{
            display: flex;
        }
        .search{
            width: 150px;
            padding-bottom: 10px;
        }
        .search input{
            width: 146px;
        }
        .search button{
            margin: 0;
            padding: 0;
            width: 72px;
        }
        .passaway{
            flex: 1;
        }
        .passaway li{
            padding-bottom: 338px;
        }
        .id{
            margin: 0;
        }
        .detail p{
            margin: 0;
        }

        .control{
            flex: 1;
        }
        .control li{
            padding-bottom: 105px;
        }
        .equips{
            flex: 1;
        }

    </style>
</head>
<body>
<div id="container">
    <div class="left">
        进程名:<input type="text" v-model="str">
        进程大小:<input type="text"  v-model="process">
        <ul class="button">
            <li @click="create()">创建进程</li>
            <li @click="time()">时间片到</li>
            <li @click="block()">阻塞进程</li>
            <li @click="wakeup()">唤醒进程</li>
            <li @click="over()">结束进程</li>
            <li @click="requestDevice()">申请设备</li>
            <li @click="releaseDevice()">释放设备</li>
        </ul>
    </div>
    <div class="right">
        <ul class="show">
            <li>
                就绪状态:<span v-for="val in ready">{{val.name}} size:{{val.size}}, </span>

            </li>
            <li>
                执行状态:<span v-for="val in running">{{val.name}} size:{{val.size}},</span>

            </li>
            <li>
                阻塞状态:<span v-for="val in blk">{{val.name}} size:{{val.size}},</span>
            </li>
        </ul>
    </div>
    <div class="bottom" >
        <div>
            <button @click="is_show()">显示/隐藏</button>

        </div>

        <div class="page" v-show="isshow">
            <h3>页表</h3>
            <div>
                页号
                <p v-for="pgn in pagenum">{{pgn}}</p>
            </div>
            <div>
                块号
                <p v-for="kn in knum">{{kn}}</p>
            </div>
            <div>
                交换空间
                <p v-for="cgs in changespace">{{cgs}}</p>
            </div>
            <div>
                存在位
                <p v-for="c in cun">{{c}}</p>
            </div>
            <div>
                <input type="text" v-model="processage">
                <button @click="FIFO()">change</button>
                <p>{{this.queye_2}}/{{this.queye_1}}</p>
            </div>

        </div>
        <div class="diagram" v-show="isshow">
            <h3>位示图</h3>
            <p v-for="xx in dgm">{{ xx }} </p>
        </div>
        <div class="exchange"v-show="isshow">
            <h3>交换空间</h3>
            <p v-for="xx in ehg">{{ xx }} </p>
        </div>
    </div>
    <div class="equip" >
        <div class="search">
            <p>ID:<input type="text" v-model="DCCid"></p>
            <p>上级:<input type="text" v-model="DCparent"></p>
                <button @click="addChannel()">添加通道</button>
                <button @click="delChannel()">删除通道</button>
                <button @click="addDevice()">添加设备</button>
                <button @click="delDevice()">删除设备</button>
                <button @click="addControl()">添加控制器</button>
                <button @click="delControl()">删除控制器</button>

        </div>
        <div class="passaway">
                <li v-for="val in channel">
                    <h4 class="id">
                        {{val.id}}
                    </h4>
                    <div class="detail">
                        <p>是否空闲: {{val.isFree}}</p>
                        <p>占用进程: {{val.process}}</p>
                        <p>
                            等待队列:<span v-for="wait in val.waiting">{{wait.name}} </span>
                        </p>
                    </div>
                </li>
        </div>
        <div class="control">
            <li v-for="val in control">
                <h4 class="id">
                    {{val.id}}
                </h4>
                <div class="detail">
                    <p>是否空闲: {{val.isFree}}</p>
                    <p>占用进程: {{val.process}}</p>
                    <p>上级: {{val.channel.id}}</p>
                    <p>
                        等待队列:<span v-for="wait in val.waiting">{{wait.name}} </span>
                    </p>
                </div>
            </li>
        </div>
        <div class="equips">
            <li v-for="val in device">
                <h4 class="id">
                    {{val.id}}
                </h4>
                <div class="detail">
                    <p>是否空闲:{{val.isFree}}</p>
                    <p>占用进程:{{val.process}}</p>
                    <p>上级:{{val.control.id}}</p>
                    <p>
                        等待队列:<span v-for="wait in val.waiting">{{wait.name}} </span>
                    </p>
                </div>
            </li>
        </div>
    </div>
</div>
<script src="vue.js"></script>
<script>
    class PCB {
        constructor(name,size){
            this.name = name;
            this.size = size;
        }
    }
    class page {
        constructor(pagenum, knum, changespace, cun) {
            this.pagenum = pagenum;
            this.knum = knum;
            this.changespace = changespace;
            this.cun = cun;
        }
    }
    //通道
    class CHCT {
        constructor(id){
            this.id = id;
            this.process = '';
            this.isFree = true;
            this.waiting = [];
        }
    }
    //控制器
    class COCT{
        constructor(id,CHANNEL){
            this.id=id;
            this.isFree=true;
            this.process='';
            this.waiting=[];
            this.channel=CHANNEL;//上级通道
        }
    }

    //设备
    class DCT{
        constructor(id,CONTROL){
            this.id=id;
            this.isFree=true;
            this.process='';
            this.waiting=[];
            this.control=CONTROL;//上级控制器
        }
    }
    var vm = new Vue({
        el:'#container',
        data:{
            process:'',
            str:'',
            processage:'',
            DCCid:'',//设备控制器通道ID
            DCparent:'',//设备通道父级ID
            implement:{
                name:'没有正在执行的进程',
                size:[],
            },//执行状态
            running:[],//执行
            ready:[],//就绪
            blk:[],//阻塞
            dgm:[],//位示图
            ehg:[],//交换空间
            pagenum:[],//页号
            knum:[],//块号
            changespace:[],//交换空间
            cun:[],//存在位
            pagetable:[],//页表
            queye_1:0,//缺页
            queye_2:0,
            isshow:false,
            channel:[],//通道
            control:[],//控制器
            device:[]//设备



        },
        created:function (){

            //生成随机内存
            for (var i = 0;i < 64;i++) {
                var num = parseInt(Math.ceil(Math.random()*1-0.5));
                this.dgm.push(num);
            }
            //生成随机交换空间
            for (var i = 0;i < 128;i++) {
                var num = parseInt(Math.ceil(Math.random()*1-0.5));
                this.ehg.push(num);
            }
            //初始化设备、控制器、通道
            var channel_1 = new CHCT('通道1');
            var channel_2 = new CHCT('通道2');
            var control_1 = new COCT('控制器1',channel_1);
            var control_2 = new COCT('控制器2',channel_1);
            var control_3 = new COCT('控制器3',channel_2);
            var device_1 = new DCT('设备1',control_1);
            var device_2 = new DCT('设备2',control_1);
            var device_3 = new DCT('设备3',control_2);
            var device_4 = new DCT('设备4',control_2);
            var device_5 = new DCT('设备5',control_3);
            this.channel.push(channel_1);
            this.channel.push(channel_2);
            this.control.push(control_1);
            this.control.push(control_2);
            this.control.push(control_3);
            this.device.push(device_1);
            this.device.push(device_2);
            this.device.push(device_3);
            this.device.push(device_4);
            this.device.push(device_5);

        },
        methods:{
            is_show(){
                this.isshow = !this.isshow;
            },
            //先进先出
            FIFO(){
                console.log(this.processage);

                var n = Math.floor(parseInt(this.processage)/1024);
                var m = parseInt(this.processage);
                var temp = 0;
                var i = 0;
                var sum = 0;
                if(this.processage==''){

                }else {
                    for (var j = 3; j < this.pagenum.length; j++) {
                        if (this.pagenum[j] != n) {
                            sum = sum+1;
                            j = this.pagenum.length;
                            console.log(sum++)
                        } else {
                            while (i < 3) {
                                this.pagenum.map((elem, index) => {
                                    if (elem == n) {
                                        n = index;
                                    }
                                });
                                var tempOption = this.pagenum[0];
                                this.$set(this.pagenum, 0, this.pagenum[n]);
                                this.$set(this.pagenum, n, tempOption);
                                this.queye_2 = this.queye_2 + 1;
                                sum = sum + 2;
                                temp = this.pagenum[0];
                                this.pagenum.splice(0, 1, this.pagenum[1]);
                                this.pagenum.splice(1, 1, this.pagenum[2]);
                                this.pagenum.splice(2, 1, temp);
                                var tem = 0;
                                tem = this.knum[0];
                                this.knum.splice(0, 1, this.knum[1]);
                                this.knum.splice(1, 1, this.knum[2]);
                                this.knum.splice(2, 1, tem);
                                i = 3;
                                j = this.pagenum.length;

                            }
                        }
                    }
                    console.log(sum)
                    sum--;
                    this.queye_1 = this.queye_1 + sum;

                }
            },
            save(PCB,num){
                var flag = 0;
                //前三位存物理内存
                for ( var i=0;i<this.dgm.length;i++){
                    if(num>3){
                        if(flag<=3){;
                            if(this.dgm[i]==0){
                                this.dgm[i] = 9;
                                flag++;
                                num--;
                            }
                        }
                    }else{
                        if(flag<=num){
                            if(this.dgm[i]==0){
                                this.dgm[i] = 9;
                                flag++;
                                num--;
                            }
                        }
                    }
                }
                //后面存交换空间
                for ( var i=0;i<this.ehg.length;i++){
                    if(num>0){
                        if(this.ehg[i]==0){
                            this.ehg[i] = 9;
                            num--;
                        }
                    }
                }
            },
            showpage(PCB,num){
                //页号
                for(var i = 0; i < num ; i++){
                    this.pagenum.push(i);
                }
                //块号
                while((num<=3) && (num>=1)){
                    for( i = 0; i < this.dgm.length; i++){
                        if(this.dgm[i] == 9){
                            this.knum.push(i+1);
                            this.changespace.push(-1);
                            this.cun.push(1);
                            num=num-1;
                            if(num==0){break;}
                            console.log(num);
                        }
                    }
                }
                while(num>3){
                    var flag = 0;
                    if(flag<3){
                        for(var i = 0; i < this.dgm.length; i++){
                            if(this.dgm[i] == 9){
                                this.knum.push(i+1);
                                this.cun.push(1);
                                flag++;
                            }
                        }
                    }
                    for(var i = 0; i < num-3; i++){this.knum.push(-1);}
                    for(var i = 0; i < 3; i++){this.changespace.push(-1);}
                    for(i = 0; i < this.ehg.length; i++){
                        if(this.ehg[i] == 9){
                            this.changespace.push(i+1);
                            this.cun.push(0);
                            num--;
                        }
                    }

                }

            },
            delpage(){

                this.pagenum.splice(0,this.pagenum.length);
                this.changespace.splice(0,this.changespace.length);
                this.knum.splice(0,this.knum.length);
                this.cun.splice(0,this.cun.length);
                console.log();
            },
            //内存与交换空间释放
            del(){

                for ( var i=0;i<this.dgm.length;i++){
                    if(this.dgm[i]==9){
                        this.dgm[i]=0;
                    }
                }
                for ( var i=0;i<this.ehg.length;i++){
                    if(this.ehg[i]==9){
                        this.ehg[i]=0;
                    }
                }
            },
            //创建进程
            create(){
                var PCBtemp = new PCB(this.str,this.process*1);
                if(this.process==''){
                    alert("请输入进程!")
                }else {
                    if (this.running.length == 0) {
                        this.running.push(PCBtemp);
                        this.save(this.running[0],Math.ceil(this.running[0].size/1024));
                        this.showpage(this.running[0],Math.ceil(this.running[0].size/1024));
                    } else {
                        this.ready.push(PCBtemp);
                    }

                }
            },
            //事件片到
            time(){

                if(this.running.length==0||this.ready.length==0){
                    alert('不能进行')
                }else{
                    this.ready.push(this.running[0]);
                    this.running[0] = this.ready[0];
                    this.ready.splice(0,1);
                    this.del();
                    this.save(this.running[0],Math.ceil(this.running[0].size/1024));
                    this.delpage();
                    this.showpage(this.running[0],Math.ceil(this.running[0].size/1024));
                }
            },
            //阻塞进程
            block(){
                if(this.running.length==0){
                    alert('没有可以阻塞的进程')
                }else{
                    this.blk.push(this.running[0]);
                    if(this.ready.length!=0){
                        this.running[0] = this.ready[0];
                        this.ready.splice(0,1);
                        this.del();
                        this.save(this.running[0],Math.ceil(this.running[0].size/1024));
                        this.delpage();
                        this.showpage(this.running[0],Math.ceil(this.running[0].size/1024));
                    }else{
                        this.running.splice(0,1);
                        this.del();
                        this.delpage();
                    }
                }
            },
            //唤醒进程
            wakeup(){
                if(this.blk[0] ==null){
                    alert('没有需要唤醒的进程')
                }else{
                    this.ready.push(this.blk[this.blk.length-1]);
                    this.blk.splice(this.blk.length-1,1);
                }
                if(this.running.length == 0){
                    this.running[0] =this.ready[0] ;
                    this.ready.splice(0,1);
                }
                this.del();
                this.save(this.running[0],Math.ceil(this.running[0].size/1024));
                this.delpage();
                this.showpage(this.running[0],Math.ceil(this.running[0].size/1024));
            },
            //结束进程
            over(){
                var num = prompt('请输入需要结束的进程');

                if(this.running[0].name == parseInt(num)){
                    if(this.ready.length==0){
                        this.running.splice(0,1);
                        this.delpage();
                    }else{
                        this.running.splice(0,1,this.ready[0]);
                        this.ready.splice(0,1);
                        this.delpage();
                        this.showpage(this.running[0],Math.ceil(this.running[0].size/1024));
                    }
                }else{
                    this.ready.map((elem,index)=>{
                        if(elem.name == num){
                            this.ready.splice(index,1);
                        }
                    });
                    this.blk.map((elem,index)=>{
                        if(elem.name == num){
                            this.blk.splice(index,1);
                        }
                    })
                }
            },
            //通过ID判断DCC是否存在
            findDCCById(ID,arr){
                let flag = false;
                for(let i=0;i<arr.length;i++){
                    if(arr[i].id==ID){
                        flag=true;
                    }
                }
                return flag;
            },
            //申请控制器、 通道
            requestAll(elem,k,t){
                    if (elem.isFree) {
                        elem.isFree = false;
                        elem.process = this.running[0].name;
                        if (this.control[k].isFree) {
                            this.control[k].isFree = false;
                            this.control[k].process = elem.process;
                            if (this.channel[t].isFree) {
                                this.channel[t].isFree = false;
                                this.channel[t].process = this.control[k].process;
                            } else {
                                this.channel[t].waiting.push(this.running[0]);
                            }
                        } else {
                            this.control[k].waiting.push(this.running[0]);
                        }
                        this.block();
                    } else {
                        elem.waiting.push(this.running[0]);
                        this.block();
                    }

            },
            //申请设备
            requestDevice(){
                if(this.running.length){
                    let tempId = prompt('请输入设备ID:','');
                    let flag = this.findDCCById(tempId,this.device);
                    if(flag){
                        this.device.map((elem,index)=>{
                            if(elem.id == tempId){
                                if((index==0)||(index==1)){
                                    this.requestAll(elem,0,0);
                                }
                                if((index==2)||(index==3)){
                                    this.requestAll(elem,1,0);
                                }
                                if((index==4)||(index==4)){
                                    this.requestAll(elem,2,1);
                                }

                            }
                        })
                    }else{
                        alert('没有设备与您匹配！');
                    }
                }else{
                    alert("没有正在运行的进程");
                }
            },
            //释放设备、控制器、通道
            releaseAll(elem,k,t,index){
                if (elem.process == this.running[0].name) {
                    if(elem.waiting.length){
                        elem.process = elem.waiting[0].name;
                        this.control[k].waiting.push(elem.waiting[0]);
                        elem.waiting.splice(0,1);
                    }else{
                        elem.process = '';
                    }
                    if(this.control[k].process == this.running[0].name){
                        if(this.control[k].waiting.length){
                            this.control[k].process = this.control[k].waiting[0].name;
                            this.channel[t].waiting.push(this.control[k].waiting[0]);
                            this.control[k].waiting.splice(0,1);

                        }else{
                            this.control[k].process = '';
                        }
                        if(this.channel[t].process == this.running[0].name){
                            if(this.channel[t].waiting.length){
                                this.channel[t].process = this.channel[t].waiting[0].name;
                                this.channel[t].waiting.splice(0,1);
                            }else{
                                this.channel[t].process = '';
                            }
                        }else{

                        }
                    }

                    this.time();
                    if(elem.process ==''){
                        elem.isFree = true;
                    }
                    if(this.control[k].process ==''){
                        this.control[k].isFree = true;
                    }
                    if(this.channel[t].process ==''){
                        this.channel[t].isFree = true;
                    }
                // } else if(index == this.device-1){
                //     alert('释放失败!');
                //     // elem.waiting.push(this.running[0]);
                //     // this.block();
                }

            },
            //释放设备
            releaseDevice(){
                if(this.running.length){
                    let tempId = prompt('请输入设备ID:','');
                    let flag = this.findDCCById(tempId,this.device);
                    if(flag){
                        this.device.map((elem,index)=>{
                            if(elem.id == tempId){
                                if((index==0)||(index==1)){
                                    this.releaseAll(elem,0,0,index);
                                }
                                if((index==2)||(index==3)){
                                    this.releaseAll(elem,1,0,index);
                                }
                                if((index==4)||(index==4)){
                                    this.releaseAll(elem,2,1,index);
                                }

                            }
                        })
                    }
                // }else{
                //     alert("没有正在运行的进程!");
                }
            },
            //添加设备
            addDevice(){
                let flag = this.findDCCById(this.DCCid,this.device);
                if(flag){
                    alert('该设备ID已存在');
                }else if(this.DCparent==''){
                    alert('父级控制器不能为空');
                }else if(!this.findDCCById(this.DCparent,this.control)){
                    alert('该父级控制器不存在');
                }else{
                    for(let i=0;i<this.control.length;i++){
                        if(this.control[i].id==this.DCparent){
                            let tmpDevice = new DCT(this.DCCid,this.control[i]);
                            this.device.push(tmpDevice);
                        }
                    }
                }
            },
            //删除设备
            delDevice(){
                let flag = this.findDCCById(this.DCCid,this.device);
                if(flag){
                    let tmpIndex=0;
                    for(let i=0;i<this.device.length;i++){
                        if(this.device[i].id==this.DCCid){
                            tmpIndex=i;
                        }
                    }
                    if(this.device[tmpIndex].isFree){
                        this.device.splice(tmpIndex,1);
                    }else{
                        alert('设备占用，不可删除')
                    }
                }else{
                    alert('该设备ID不存在');
                }
            },
            //添加控制器
            addControl(){
                let flag = this.findDCCById(this.DCCid,this.control);
                if(flag){
                    alert('该控制器ID已存在');
                }else if(this.DCparent==''){
                    alert('父级通道不能为空');
                }else if(!this.findDCCById(this.DCparent,this.channel)){
                    alert('该父级通道不存在');
                }else {
                    for (let i = 0; i < this.channel.length; i++) {
                        if (this.channel[i].id == this.DCparent) {
                            let tmpControl = new COCT(this.DCCid, this.channel[i]);
                            this.control.push(tmpControl);
                        }
                    }
                }
            },
            //删除控制器
            delControl(){
                if(this.findDCCById(this.DCCid,this.control)){
                    let flag = false;
                    for(let i=0;i<this.device.length;i++){
                        if(this.device[i].control.id==this.DCCid){
                            flag=true;
                        }
                    }
                    if(flag){
                        alert('该控制器有设备相连接，不可删除')
                    }else{
                        for(let i=0;i<this.control.length;i++){
                            if(this.control[i].id==this.DCCid){
                                this.control.splice(i,1);
                            }
                        }
                    }
                }else{
                    alert('该控制器ID不存在')
                }
            },
            //添加通道
            addChannel(){
                let flag = this.findDCCById(this.DCCid,this.channel);
                if(flag){
                    alert('该通道ID已存在');
                }else{
                    let tmpChannel = new CHCT(this.DCCid);
                    this.channel.push(tmpChannel);
                }
            },
            //删除通道
            delChannel(){
                if(this.findDCCById(this.DCCid,this.channel)){
                    let flag = false;
                    for(let i=0;i<this.control.length;i++){
                        if(this.control[i].channel.id==this.DCCid){
                            flag=true;
                        }
                    }
                    if(flag){
                        alert('该通道有控制器相连接，不可删除')
                    }else{
                        for(let i=0;i<this.channel.length;i++){
                            if(this.channel[i].id==this.DCCid){
                                this.channel.splice(i,1);
                            }
                        }
                    }
                }else{
                    alert('该通道ID不存在')
                }
            },

        }
    })
</script>
</body>
</html>