<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .red{
            color:red;
        }
    </style>
</head>
<body>
<div id="app">
    <input type="text" v-model="val" @keyup="filter">
    <button @click="add">add</button>
    <ul>
        <li v-for="(obj,index) in arr" :class="{red:obj.active}" @click="changeRed(obj)" v-show="obj.isShow">
            {{obj.value}}
            <button @click="del(index)">del</button>
        </li>
    </ul>
</div>
<script src="vue.js"></script>
<script>
    var vm = new Vue({
        el:'#app',
        data:{
            val:'',
            arr:[],
            showArr:[]

        },
        methods:{
            add(){
                this.arr.push({value:this.val,active:false,isShow:true});
                this.val = '';
                this.arr.forEach((elem)=>{
                    elem.isShow = true;
                });
                this.arr.sort(function (a,b) {
                    return a.value - b.value;
                });

            },
            filter(){
               this.arr.forEach((elem)=>{
                   elem.isShow = true;
               });
                this.arr.forEach((elem)=>{
                    if(elem.value.indexOf(this.val)==-1){
                        elem.isShow = false;
                    }
                });

            },
            changeRed(obj){
                obj.active = !obj.active;

            },
            del(index){
                this.arr.splice(index,1);
            }
        }
    })


</script>
</body>
</html>