<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <span>是否需要额外付费设施</span>
    <input type="checkbox" v-model="isShow">
    <ul>
        <li v-for="(obj,index) in arr" v-show="isShow">
            {{obj.name}}({{obj.price}})
            <input type="checkbox" v-model="list" :value="obj">
        </li>
    </ul>
    <span>订单费用信息</span>
    <ul>
        <li v-for="menu in list">{{menu.name}}({{menu.price}})</li>
    </ul>
    总金额:{{total}}
</div>
<script src="vue.js"></script>
<script>
    var vm = new Vue({
        el:'#app',
        data:{
            arr:[
                {name:'沙发',price:100},
                {name:'床',price:200},
                {name:'wifi',price:20},
            ],
            list:[
                {name:'群里花园豪华型',price:400}
            ],
            isShow:false

        },
        computed:{
            total(){
                var sum = 0;
                if (!this.isShow) {
                    this.list.splice(1);
                }
                this.list.forEach(function (x) {
                    sum += x.price;
                })

                return sum;
            }
        },
        mothods:{

        }
    })


</script>
</body>
</html>